name: ci

on:
  push:
    branches: [ 'master' ]
  pull_request:
    branches: [ '*' ]

permissions:
  contents: read

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Run tests
        uses: docker://rust:alpine
        with:
          args: |
            sh -c "
              apk update;
              apk add cmake make musl-dev g++ perl;
              cargo build --release;
              cargo test --release"